body {
  margin: 0px;
}

canvas {
  background-image: url(Images/Japanese-background.gif);
  background-size: cover;
}

#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player1Display {
  font-size: 30px;
  color: white;
  position: absolute;
  background-color: rgba(31, 0, 123, 0.4);
  border-radius: 5px;
  transform: translate(-50%, -100%);
}

#player2Display {
  font-size: 30px;
  color: white;
  position: absolute;
  background-color: rgba(123, 0, 0, 0.4);
  border-radius: 5px;
  transform: translate(-50%, -100%);
}

.buttonsPlayer {
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px;
}

#buttonsPlayer1 {
  left: 10px; /* Adjust the left position as needed */
}

#buttonsPlayer2 {
  right: 10px; /* Adjust the left position as needed */
}

.movementTitle {
  margin: 0 0 5px;
  font-size: 30px;
}

#conditionalTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#conditionalText1 {
  font-size: 100px;
  z-index: 10;
  color: blue;
  text-shadow: 6px 5px rgba(0, 0, 0, 0.4);
}

#conditionalText2 {
  font-size: 100px;
  z-index: 10;
  color: red;
  text-shadow: 6px 5px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}
.visible {
  display: block;
  /* Add any additional styling here */
}

#mainCanvas {
  background-image: url(Images/background.gif);
  background-size: cover;
  align-items: center;
}

.logo {
  width: 45%;
  border-radius: 40px;
  margin: 75px 27.5%;
  margin-bottom: 0;
}

.buttons {
  list-style: none;
  padding: 0;
}
.button {
  margin: 10px 40%;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  background-color: rgba(245, 222, 179, 0.897);
  border-radius: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  color: black;
  text-align: center;
}

#CHOOSE {
  display: none;
}
#P1 {
  display: none;
}
