body {
  margin: 0px;
}

#gameCanvas {
  background-image: url(Japanese-background.gif);
  background-size: cover;
}

#mainCanvas {
  background-image: url(background.gif);
  background-size: cover;
}

/* .background-text {
  position: absolute;
} */

h1 {
  text-align: center;
  margin-top: 40px;
  background-color: whitesmoke;
  padding: 10px;
  margin-left: 42%;
  margin-right: 42%;
  border-radius: 30px;
}
